.fetchtime
jupyterhub.sqlite
jupyterhub_cookie_secret
.repo
.bash*
.cache
.config
.jupyter
.local
.npm
.profile
.ssh
.wget-hsts
.aws
.aws*
.ipy*
__pycache__
remoteProfile
.mypy_cache
*.DS_Store
*.egg-info
.python_history
.env
.env.*
.env.airflow
.psqlrc
.idea
*dask-worker-space/
.python-version
.pgpass
.vim
*.virtual_documents
brewfile.lock.json
pip-wheel-metadata
*.coverage
src/**/dist
**/.venv
cicd/**/charts
.dvc/
.coverage*
